body {
    background: #04eeff;
    color: #f1eeee;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
   
  }


  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    height: 100vh;
    margin-bottom: 10px;
  }
  
  .person {
    background: #0661e9;
    border-radius: 8px;
    width: 180px;
    height: 180px;
    padding: 0;
    margin: 4px;
  }
  
  .symbol {
    font-size: 50px;
    text-align: center;
    color: rgb(255, 4, 4);
    height: 80px;
    width: 80px;
    position: relative;
    left: 45px;
    top: 12px;
    border-radius: 50%;
    padding: 8px;
  }

 
  
  .name {
    position: relative;
    bottom: -15px;
    left: 10px;
    padding: 2px;
    font-size: 20px;
  }
  
  .mic {
    text-align: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: #fa0303;
    font-size: 15px;
    padding: 4px;
    position: relative;
    top: 4px;
    left: 145px;
  }

  .meeting-name{
    display: flex;
    justify-content: space-between;

    bottom: 0px;
    margin-top: 5px;
    padding: 10px;
    font-weight: bolder;
    align-items: start;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0px;
    margin-top: 5px;
    padding: 10px;
    font-weight: bolder;
    align-items: start;
  }
  
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0 10px;
    flex-wrap: wrap;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
    margin: 0px 3px;
    font-size: 15px;
    flex-wrap: wrap;
    text-align: center;
    cursor: pointer;
  }
  
  .bg-gray {
    background: rgb(255, 208, 0);
  }
  
  .bg-dark-gray {
    background: #04bdf5;
  }
  
  .bg-red {
    background:rgb(94, 255, 1);
  }

  .message-footer input{
    flex: 20;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

.time {

  display: flex;
  margin: 5px;

}
  
  